<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head th:insert="~{layout :: head(title='Disease Recognition Result', localcss='diseaseresult.css')}"></head>

<body>
	<!-- Navbar -->
	<th:block th:replace="~{layout :: navbar}"></th:block>

	<!-- Loading Screen Start -->
	<div class="loading-screen d-flex justify-content-center">
		<div class="submitting d-flex justify-content-center align-items-center">
			<div class="spinner-grow me-2" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<p class="paragraph show">Connecting to Database...</p>
			<p class="paragraph">Running Machine Learning Algorithm...</p>
			<p class="paragraph">Analyzing DNA Sequence...</p>
			<p class="paragraph">Loading Result...</p>
		</div>
		
	</div>
	<!-- Loading Screen End -->

	<!-- Main Body Start -->
	<div class="container">
		<div class="row text-center justify-content-center">

			<h1 class="my-5 poppins-bold">Disease Recognition Result</h1>

			<div class="row">
				<div class="col-md-10">
					<div class="mb-2">
						<p class="poppins-bold">Fullname: </p><span th:text="${user.fullname}"></span>
					</div>
					<div class="mb-2">
						<p class="poppins-bold">Username: </p><span th:text="${user.username}"></span>
					</div>
					<div class="mb-2">
						<p class="poppins-bold">Email: </p><span th:text="${user.email}"></span>
					</div>
					<div class="mb-2">
						<p class="poppins-bold">Entered DNA Sequence: </p>
						<span th:text="${dnaSequence}"></span>
					</div>
					
					<div class="predicted-diseases mt-3">
						<h2>Predicted Diseases:</h2>
						<p th:text="${diseasePrediction}">Prediction</p>

					</div>
				</div>
				<div class="col-md-2">

					<form th:action="@{/downloadDDPDF}" method="get">
						<input type="hidden" name="dnaSequence" th:value="${dnaSequence}" />
						<input type="hidden" name="diseasePrediction" th:value="${diseasePrediction}" />
						<input type="hidden" name="email" th:value="${user.email}" />
						<input type="hidden" name="username" th:value="${user.username}" />
						<input type="hidden" name="fullname" th:value="${user.fullname}" />
						<button type="submit" class="btn btn-success my-2">
							<svg class="feather"><use th:href="@{/feather/feather-sprite.svg#save}" /></svg>
							Save as PDF
						</button>
					</form>

					<button onclick="window.print()" class="btn btn-success my-2">
						<svg class="feather"><use th:href="@{/feather/feather-sprite.svg#printer}" /></svg>
						Print
					</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Footer -->
	<p class="footer my-4 text-center">© 2024, Team Rectifier</p>
	<!-- Main Body End -->

	<!-- BootStrap JS -->
	<th:block th:replace="~{layout :: bootstrapjs}"></th:block>

	<!-- Dotlottie JS -->
	<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

	<!-- Chart JS -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<!-- Custom JS -->
	<script th:src="@{/js/loading.js}"></script>

</body>
</html>