<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head th:insert="~{layout :: head(title='Disease Recognition', localcss='disease.css')}"></head>

<body>
	<!-- Navbar -->
	<th:block th:replace="~{layout :: navbar}"></th:block>

	<!-- Main Body Start -->
	<div class="container">
		<div class="row text-center justify-content-center">

			<h1 class="mt-5 poppins-bold">Disease Recognition</h1>

			<form class="row" th:action="@{/disease-result}" method="post" >
				<div class="col-md-8 my-5 text-start">
					<label for="dna-sequence" class="form-label">Enter DNA Sequence</label> 
					<textarea class="form-control disease-inp" id="dna-sequence" name="dna-sequence" rows="6" placeholder="ACGCTAGGGACGTGAAGTCGA....." required></textarea>
					<input id="generated-protein" type="hidden" name="generated-protein" value="null">
				</div>
				<div class="col-md-4 d-flex align-items-center justify-content-center">
					<button onclick="translateDna()" type="submit" class="btn btn-primary btn-disease">
						<dotlottie-player th:src="@{/images/lottie/target.lottie}" background="transparent" speed="1"
						style="width: 150px; height: 150px;" loop autoplay></dotlottie-player>
						<p class="poppins-bold">Recognize</p>
					</button>
				</div>
			</form>
			
			<div class="mt-5">
				© The Sequence Manipulation Suite. Copyright (C) 2000, 2004 Paul Stothard.
			</div>
		</div>
	</div>
	<!-- Main Body End -->

	<!-- BootStrap JS -->
	<th:block th:replace="~{layout :: bootstrapjs}"></th:block>

	<!-- Dotlottie JS -->
	<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

	<!-- DNA Translate Algorithm -->
	<script th:src="@{/js/dnaTranslate/translate.js}"></script>
	<script th:src="@{/js/dnaTranslate/sms_common.js}"></script>
	<script th:src="@{/js/dnaTranslate/sms_genetic_codes.js}"></script>

</body>
</html>