<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
	
<head th:include="layout :: head(title='Future Light', localcss='home.css')"></head>

<body>
	<!-- Navbar -->
	<th:block th:replace="layout :: navbar"></th:block>

	<!-- Main Body Start -->
	<div class="container">
		<div class="row text-center">

			<h1 class="mt-5 poppins-bold">Welcome to Future Light</h1>

		</div>
	</div>
	<!-- Main Body End -->

	<!-- BootStrap JS -->
	<th:block th:replace="layout :: bootstrapjs"></th:block>
</body>
</html>