<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
	
<head th:insert="~{layout :: head(title='Sign in to Future Light', localcss='signin.css')}"></head>

<body>
	<div class="container text-light">
		<div class="row signup-form-wrapper vh-100 justify-content-center align-items-center">
			<div class="col-md-6">
				<div class="text-center mb-2">
					<a th:href=@{/}> 
						<img class="future-light-logo" alt="future-light-logo" th:src="@{/images/logo-cropped.png}">
					</a>
					<h3 class="poppins-bold my-4">Sign in</h3>
				</div>
				
				<!-- Error alerts -->
				<div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
				  		<p>Sign in error!</p>
				  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<div th:if="${param.logout}" class="alert alert-success alert-dismissible fade show" role="alert">
				  		<p>Sign out successful</p>
				  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				
				<form th:action="@{/signin}" method="post">
					<div class="mb-3">
						<label for="username" class="form-label">Username</label> 
						<input type="text" class="form-control signin-inp" name="username" id="username" required>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" minlength="8" maxlength="128"  class="form-control signin-inp" name="password" id="password" required>
					</div>
					<div class="d-flex justify-content-center">
						<button type="submit" class="btn btn-success">
						<svg class="feather"><use th:href="@{/feather/feather-sprite.svg#send}" /></svg>
						Submit
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
	
	<!-- BootStrap JS -->
	<th:block th:replace="~{layout :: bootstrapjs}"></th:block>
	
</body>
</html>